Source: leterrier-cibler
Section: misc
Priority: extra
Maintainer: Eric Seigne <eric.seigne@ryxeo.com>
Build-Depends: cdbs, libqt5webkit5-dev, qt5-qmake, qtbase5-dev, libqt5core5, zlib1g-dev, libexiv2-dev
Standards-Version: 3.8.3
Homepage: http://www.abuledu.org/leterrier/

Package: leterrier-cibler
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${leterrier:Depends}, exiv2, zlib1g
Description: Nombre Cible (AbulEdu le Terrier)
 Un nombre à atteindre en trois coups ! Ce logiciel fait
 partie des logiciels du Terrier d'AbulEdu
