[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=leterrier-cibler
Name=LeTerrier-Cibler
Comment=Atteindre la cible en trois coups
Icon=/usr/share/leterrier-cibler/leterrier-cibler-256.png
Categories=Education;