
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[fr]=/usr/share/leterrier-cibler/data/images/leterrier-cibler-256.png
Name[fr]=leterrier-cibler
Exec=leterrier-cibler
Comment[fr]=Atteindre la cible en trois coups
Name=AbulEdu Nombre Cible
Comment=Atteindre la cible en trois coups
Icon=/usr/share/leterrier-cibler/data/images/leterrier-cibler-256.png
Categories=Education;
